@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:#65852d;
}

svg text.nort{
    fill: #3a153d !important;
}

svg text.nord{
    fill: #443e1a !important;
}

svg text.ceo{
    fill: #154740 !important;
}

svg text.sud{
    fill: #0b2e59 !important;
}

svg text.sul{
    fill: #143a17 !important;
}

svg g path.cap{
    fill: rgb(218, 123, 123) !important;
    cursor: pointer;
}

svg {
    max-height: 80%;
}

.close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(218, 123, 123);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.side {
    display: none; 
    background-color: #D7EEF4;
    border-radius: 13%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    width: 500px;
    height: 500px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 50px 0;
    position: relative;
}

.side > div:nth-child(1) {
    font-size: 35px;
}

.side > div:nth-child(2) {
    font-size: 20px;
    display: flex;
    width: 200px;
    justify-content: space-around;
}

.side > div:nth-child(5) {
    font-size: 18px;
}

.side img {
    width: 80px;
    height: 80px;
}

.temp {
    font-weight: 600;
}

.shadow {
    text-shadow: 2px 2px 5px black;
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;
    }
    svg {
        width: 90vw;
        height: 90vh;
    }
    .side {
        width: 65%;
        height: 40%;
        margin-bottom: 20px;
    }
  }